<form dir="rtl" class="text-right" style="padding: 5%;">
  
  <div class="row font-weight-light alert alert-success">
    <div class="col-sm-6 ">
      <ul class="list-unstyled">
        <li><h4>מפרט מפת הפארק</h4>
          <ul>
            <li><p><span class="font-weight-bold">הסימון 1 </span>רכבת הרים</p></li>
            <li><p><span class="font-weight-bold">הסימון 29 </span>בלאק במבה </p></li>
            <li> <p><span class="font-weight-bold">הסימון 2 </span>גלגל ענק</p></li>
            <li> <p><span class="font-weight-bold">הסימון 3 </span>רכבת מים</p></li>
            <li> <p><span class="font-weight-bold">הסימון 4 </span>סחרחרה </p></li>
            <li><p><span class="font-weight-bold">הסימון 11 </span>סירות </p></li>
            <li><p><span class="font-weight-bold">הסימון 40 </span>מקפצת בנג'י</p></li>
            <li><p><span class="font-weight-bold">הסימון 5 </span>ספינת פיראטים</p></li>
            <li><p><span class="font-weight-bold">הסימון 10 </span>מערת שדים</p></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="ui-g-12" style="text-align:center">
        <img src="assets/Pictures/0.jpg" width="100%">
      </div>
    </div>
  </div>

  


</form>
