<!-- <div id="demo" class="carousel slide Size" data-ride="carousel">

  <!--Indicators 
 <ul class="carousel-indicators">
   <li data-target="#demo" data-slide-to="0" class="active"></li>
   <li data-target="#demo" data-slide-to="1"></li>
   <li data-target="#demo" data-slide-to="2"></li>
 </ul>

  <The slideshow
 <div class="carousel-inner">
   <div class="carousel-item active">
     <img src="assets\Pictures\1.jpg" alt="Los Angeles" class="Picture">
   </div>
   <div class="carousel-item">
     <img src="assets\Pictures\2.jpg" alt="Chicago" class="Picture">
   </div>
   <div class="carousel-item">
     <img src="assets\Pictures\3.jpg" alt="New York" class="Picture">
   </div>
 </div>

 Left and right controls 
 <a class="carousel-control-prev" href="#demo" data-slide="prev">
   <span class="carousel-control-prev-icon"></span>
 </a>
 <a class="carousel-control-next" href="#demo" data-slide="next">
   <span class="carousel-control-next-icon"></span>
 </a> -->
 <img src="assets\Pictures\123.jpg" class="img-fluid" alt="Responsive image">
 <br>
 <div dir="rtl" class="text-right font-weight-light" style="color: rgb(182, 0, 36); padding: 5%;">
 <h4>אודות לונה פארק ישראל</h4>
 <p>בלב חולות ראשון לציון מתנוסס לו פארק שעשועים מרהיב, מהמתקדמים ומהמרגשים ביותר בעולם.</p> 
  <p>הפארק, הפרוש על פני כ-80 דונם, מטופח להפליא ומעניק תחושה של בילוי בחו"ל. הצעירים ואוהבי האקסטרים שביניכם ימצאו כאן שפע של מתקנים מרתקים ומשוכללים ברמה בינלאומית.
  הקטנטנים ימצאו מגוון רחב של פעילויות עתירות דמיון ושעשוע. </p>  
  <p>
  האגם המרהיב ומפל המים הנשפך לתוכו, התפאורה המיוחדת של סלעים, צמחייה עשירה, מדשאות ועצי קוקוס, פסלי המאיה רבי-הכוח והמתקנים יוצאי הדופן - כולם ביחד יוצרים חוויה שונה ומעניינת, שכמותה לא תחוו בשום פארק אחר בארץ. 
  ברחבי הפארק מוצבים ספסלים נוחים, המאפשרים לכל משפחה לערוך פיקניק או סתם לאגור כוחות לפני המתקן הבא. 
  על המדשאות אפשר לפרוש שמיכה ולנוח בכיף או לאכול. בשטח האתר מפוזרים תאים (לוקרים) לשמירת חפצים. (בתשלום נוסף) </p>
  <p>כרטיס הכניסה מאפשר שימוש במתקנים ללא הגבלה, למעט "סקיי קוסטר" (מתקן הבאנג'י), הכרוך בתשלום נוסף (60 ש"ח לאדם- העלייה למתקן בשלשות). </p>
  <h5>עיר השעשועים בע"מ</h5>
  <p>חברת עיר השעשועים, נוסדה ב-1975, הינה הבעלים של פארקי השעשועים המובילים במרכז הארץ: ה"לונה פארק" בתל אביב, ה"סופרלנד" בראשון לציון, ה"איי-סקייט" במתחם הלונה פארק, ופארק המים ה"מימדיון" בגני יהושע בתל אביב.</p>
  <p class="font-weight-bold">החזון שלנו
  </p>
  <p>עיר השעשועים שמה לה למטרה להמשיך ולפתח את פארקי השעשועים במדינת ישראל, להתחדש ולהפתיע עם מתקנים חדשים, מרגשים ומיוחדים, בצד שמירה ללא סייג על הבטיחות והאבטחה.</p>
  <h5 class="font-weight-bold">הערכים שלנו</h5>
  <p class="font-weight-bold">שמחה והנאה </p>
  <p>זהו אחד הערכים החשובים ביותר שלנו. אנו משקיעים משאבים רבים ומחשבה כיצד לגרום לכם לשמחה גדולה ולהנאה צרופה, בכל פעם שאתם מבקרים באחד מפארקי השעשועים שלנו. בפארקים שלנו תוכלו למצוא עשרות מתקני שעשועים מטריפים וחדישים, המתאימים לגילאים שונים: לפעוטות ולילדים, לנוער ולמבוגרים. כל אחד יכול להתרגש מהמגוון העצום שאנחנו מציעים. </p>
  <p class="font-weight-bold">בטיחות </p>
  <p>מראשית הקמתנו, לפני יותר מ-30 שנה, חרתנו על דגלנו את נושא הבטיחות ואנו משקיעים את מיטב המאמצים בשמירה עליו. כל מתקן המיובא על ידינו נבחר בקפידה ועובר בדיקות יסודיות, על ידי מומחים בעלי שם עולמי, במטרה להביא לכם רק את המתקנים האמינים ביותר, מבלי להתפתות למתקנים זולים ולחיקויים הקיימים בשוק העולמי. משאבים רבים מוקצים לטובת תחזוקת המתקנים באופן שוטף וקבוע, הכוללת בדיקות תקינות וטיפול מקצועי ברמה הגבוהה ביותר. בכל האתרים קיימת מרפאה למתן עזרה ראשונה, המאוישת על ידי חובש. 
  
  השקענו בתשתיות ובדרכי הגישה בין המתקנים השונים, כולל שבילים מרוצפים המאפשרים מעבר נוח וידידותי. בכל אתר ישנן נקודות המתאימות לריכוז ולפיזור של קבוצות ילדים, במידת הצורך. </p>
  
  <p class="font-weight-bold">חדשנות </p>
  <p>השקענו ואנו משקיעים מיליוני דולרים במתקנים חדשים ואטרקטיביים, מהידועים בעולם, כדוגמת: ה"קונגו" (הנהר הגועש) וה"קומבה" (רכבת ההרים מהגדולות והידועות בעולם) בסופרלנד, ה"אנקונדה" (רכבת האקסטרים של שנות האלפיים) ו"טופ ספין" (החוויה המאתגרת ביותר) בלונה פארק, והכול כדי להביא לכם את עוצמת החוויה המרגשת והנועזת ביותר.</p>
</div>
<!-- </div> -->